.F01 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F01.jpg")
}
.F02 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F02.jpg")
}
.F03 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F03.jpg")
}
.F04 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F04.jpg")
}
.F05 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F05.jpg")
}
.F06 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F06.jpg")
}
.F07 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F07.jpg")
}
.F08 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F08.jpg")
}
.F09 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F09.jpg")
}
.F10 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F10.jpg")
}
.F11 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F11.jpg")
}
.F12 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F12.jpg")
}
.F13 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F13.jpg")
}
.F14 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F14.jpg")
}
.F15 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F15.jpg")
}
.F16 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F16.jpg")
}
.M01 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M01.jpg")
}
.M02 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M02.jpg")
}
.M03 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M03.jpg")
}
.M04 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M04.jpg")
}
.M05 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M05.jpg")
}
.M06 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M06.jpg")
}
.M07 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M07.jpg")
}
.M08 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M08.jpg")
}
.M09 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M09.jpg")
}
.M10 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M10.jpg")
}
.M11 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M11.jpg")
}
.M12 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M12.jpg")
}
.M13 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M13.jpg")
}
.M14 {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M14.jpg")
}
.F01-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F01-L.jpg")
}
.F02-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F02-L.jpg")
}
.F03-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F03-L.jpg")
}
.F04-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F04-L.jpg")
}
.F05-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F05-L.jpg")
}
.F06-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F06-L.jpg")
}
.F07-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F07-L.jpg")
}
.F08-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F08-L.jpg")
}
.F09-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F09-L.jpg")
}
.F10-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F10-L.jpg")
}
.F11-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F11-L.jpg")
}
.F12-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F12-L.jpg")
}
.F13-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F13-L.jpg")
}
.F14-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F14-L.jpg")
}
.F15-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F15-L.jpg")
}
.F16-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/F16-L.jpg")
}
.M01-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M01-L.jpg")
}
.M02-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M02-L.jpg")
}
.M03-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M03-L.jpg")
}
.M04-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M04-L.jpg")
}
.M05-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M05-L.jpg")
}
.M06-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M06-L.jpg")
}
.M07-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M07-L.jpg")
}
.M08-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M08-L.jpg")
}
.M09-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M09-L.jpg")
}
.M10-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M10-L.jpg")
}
.M11-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M11-L.jpg")
}
.M12-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M12-L.jpg")
}
.M13-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M13-L.jpg")
}
.M14-L {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background: url("../images/contestants/M14-L.jpg")
}
